---
all:
  hosts:
    << host_name >>:
      hostname: << host_name >>
      ansible_host: "{{ << host_name >>_ip }}"
      agent_discord_bot_token: "{{ << host_name >>_bot_token }}"
      agent_discord_allowed_users: "{{ << host_name >>_discord_allowed_users }}"
      agent_discord_home_channel: "{{ << host_name >>_discord_home_channel }}"
      agent_honcho_base_url: "{{ << host_name >>_honcho_base_url }}"
      agent_honcho_api_key: "{{ << host_name >>_honcho_api_key }}"
      docker_honcho_db_password: "{{ << host_name >>_honcho_db_password }}"
      agent_model: "openai/gpt-5.4"
      agent_inference_provider: "nous"
